//Colors
$white: #FFF;
$black: #000;
$main-blue: #89ADCD;
$main-blue-hover: #7294b2;
$green: #27c97db0;
$green-hover: #67d9a4e0;
$red-hover: #fb4f3ce1;
$red: #fb7162ee; 


//Fonts
$dinLight: 'din light';
$dinRegular: 'din regular';
$franklin: 'franklin';

@font-face {
  font-family: 'din light';
  font-style: normal;
  src: url('/assets/fonts/din-light.ttf');
}
@font-face {
  font-family: 'din regular';
  font-style: normal;
  src: url('/assets/fonts/din-regular.ttf');
}

@font-face {
  font-family: 'franklin';
  font-style: normal;
  src: url('/assets/fonts/franklin.ttf');
}