//Colors
$white: #FFF;
$black: #000;
$main-blue: #89ADCD;
$hover-orange: rgba(246, 160, 27, 0.81);
$hover-orange-2: rgba(246, 160, 27, 0.60);
$grey-color : #6B6B6B;
$grey-banner: #434141;

//Devices sizes
$xs-screen: 450px;
$md-screen: 1024px;
$lg-screen: 1280px;

//Fonts
$Roboto: 'Roboto';
$titleFont: 'Poppins 700';
$dinLight: 'din light';
$dinRegular: 'din regular';
$franklin: 'franklin';

@font-face {
  font-family: 'din light';
  font-style: normal;
  src: url('/assets/fonts/din-light.ttf');
}
@font-face {
  font-family: 'din regular';
  font-style: normal;
  src: url('/assets/fonts/din-regular.ttf');
}

@font-face {
  font-family: 'franklin';
  font-style: normal;
  src: url('/assets/fonts/franklin.ttf');
}